In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import altair as alt

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/matplotlib/font_manager.py:229: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  'Matplotlib is building the font cache using fc-list. '

In [29]:
url = "https://raw.githubusercontent.com/lorransr/beer_sp/master/Consumo_cerveja.csv"
raw = pd.read_csv(url)

In [30]:
raw.head()

,Data,Temperatura Media (C),Temperatura Minima (C),Temperatura Maxima (C),Precipitacao (mm),Final de Semana,Consumo de cerveja (litros)
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900

In [31]:
df = raw
df.columns = ["data","t_media","t_minima","t_maxima", "precipitacao", "fim_de_semana","consumo"]

In [32]:
df.dtypes

data              object
t_media           object
t_minima          object
t_maxima          object
precipitacao      object
fim_de_semana    float64
consumo          float64
dtype: object

In [33]:
import datetime
df.data = pd.to_datetime(df.data)

In [41]:
df["mes"] = df.data.dt.month
df["dia"] = df.data.dt.day
df["dia_semana"] = df.data.dt.dayofweek

In [47]:
dia_semana_nome = {0:"segunda-feira",1:"ter√ßa-feira",2:"quarta-feira",3:"quinta-feira",4:"sexta-feira",5:"sabado",6:"domingo"}

In [48]:
df["dia_semana_nome"] = df['dia_semana'].map(dia_semana_nome)

In [49]:
df.head()

,data,t_media,t_minima,t_maxima,precipitacao,fim_de_semana,consumo,mes,dia,dia_semana,dia_semana_nome
0,2015-01-01,"27,3","23,9","32,5",0,0.0,25.461,1.0,1.0,3.0,quinta-feira
1,2015-01-02,"27,02","24,5","33,5",0,0.0,28.972,1.0,2.0,4.0,sexta-feira
2,2015-01-03,"24,82","22,4","29,9",0,1.0,30.814,1.0,3.0,5.0,sabado
3,2015-01-04,"23,98","21,5","28,6","1,2",1.0,29.799,1.0,4.0,6.0,domingo
4,2015-01-05,"23,82",21,"28,3",0,0.0,28.900,1.0,5.0,0.0,segunda-feira